.weao-_ac2f06 {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.25s ease, opacity 0.2s ease;
}

.weao-expanded .weao-_ac2f06 {
    height: auto;
    opacity: 1;
}
